<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiyuan.mapper.ArticleMapper">
    <insert id="insertArticle" useGeneratedKeys="true" keyProperty="id">
        insert into article(title,sub_title,content,cover,author_id,status,view_count,update_time,create_time)
        values(#{title},#{subTitle},#{content},#{cover},#{authorId},#{status},#{viewCount},#{updateTime},#{createTime})
    </insert>

    <delete id="deleteArticleById">
        delete
        from article
        where id = #{id}
    </delete>

    <update id="updateArticle">
        update article
        set
        <if test="title != null">
            title = #{title},
        </if>
        <if test="subTitle !=null">
            sub_title = #{subTitle},
        </if>
        <if test="content != null">
            content = #{content},
        </if>
        <if test="cover != null">
            cover = #{cover},
        </if>
        <if test="authorId != null">
            author_id = #{authorId},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        <if test="viewCount != null">
            view_count = #{viewCount},
        </if>
        <if test="updateTime != null">
            update_time = #{updateTime}
        </if>
        where id = #{id}
    </update>

    <select id="getArticleById" resultType="com.qiyuan.pojo.Article">
        select *
        from article
        where id = #{id}
    </select>

    <select id="pageQueryDTO" resultType="com.qiyuan.pojo.Article">
        select *
        from article
    </select>
    <select id="pageQuery" resultType="com.qiyuan.pojo.Article">
        select *
        from article
        <where>
            <if test="searchContent != null">
                title like concat('%',#{searchContent},'%') or
                sub_title like concat('%',#{searchContent},'%')
            </if>
        </where>
        <choose>
            <when test="sortType == 0">
                order by view_count desc
            </when>
            <when test="sortType == 1">
                order by update_time desc
            </when>
            <when test="sortType == 2">
                order by create_time desc
            </when>
            <otherwise>
                order by id desc <!-- 默认排序，防止分页顺序不确定 -->
            </otherwise>
        </choose>
    </select>
</mapper>
