<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiyuan.mapper.PhotoMapper">


    <select id="getPhotoRandom" resultType="com.qiyuan.pojo.Photo">
        select *
        from photo
        limit #{rand},1
    </select>
    <select id="getPhotoTotalCount" resultType="java.lang.Integer">
        select count(*)
        from photo
    </select>
</mapper>
